@import "../../common/common.less";

.camera-dash {
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-evenly;
  padding-top: @dash-top-padding;
  padding-left: @dash-left-padding;

  @media only screen {
    @media (max-width: @break-width) {
      flex-direction: column-reverse;
      align-items: center;
      padding-top: @break-top-padding;
    }
  }

  &__controls {
    border: 0px solid white;

    @media only screen {
      @media (max-width: @break-width) {
        margin-top: @break-controls-top-margin;
      }
    }
  }

  &__stream {
    border: 0px solid white;
  }
}
