[submodule "vendor/tinyfsm"]
	path = daemon/dependencies/tinyfsm
	url = https://github.com/digint/tinyfsm.git
[submodule "daemon/dependencies/safe"]
	path = daemon/dependencies/safe
	url = https://github.com/LouisCharlesC/safe.git
[submodule "daemon/dependencies/readerwriterqueue"]
	path = daemon/dependencies/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
