[Unit]
Description=Deadeye System Shutdown Daemon
SuccessAction=poweroff

[Service]
ExecStart=/opt/deadeye/bin/shutdownd

[Install]
WantedBy=multi-user.target
