[Unit]
Description=Deadeye Admin Server
Wants=deadeye-daemon.service
After=deadeye-daemon.service

[Service]
Environment=DEADEYE_NT_SERVER={{ deadeye_nt_server }}
Environment=DEADEYE_NT_WAIT_MS=500
Environment=DEADEYE_ADMIN_PORT=5000
Environment=FLASK_ENV=production
Environment=DEADEYE_UPLOAD_DIR={{ deadeye_upload }}
EnvironmentFile={{ deadeye_conf }}
ExecStart=/opt/deadeye/bin/deadeye-server
Restart=on-failure

[Install]
WantedBy=multi-user.target
