[Unit]
Description=Deadeye System Shutdown Daemon

[Service]
Environment=SPDLOG_LEVEL={{ deadeye_spdlog_level }}
EnvironmentFile={{ deadeye_conf }}
ExecStart=/opt/deadeye/bin/shutdownd

[Install]
WantedBy=multi-user.target
