[Unit]
Description=Deadeye Vision System Daemon
Requires=network-online.target
Wants=var-opt-deadeye.mount
Wants=deadeye-admin.service
Before=deadeye-admin.service

[Service]
Environment=DEADEYE_NT_SERVER={{ deadeye_nt_server }} SPDLOG_LEVEL={{ deadeye_spdlog_level }}
EnvironmentFile={{ deadeye_conf }}
ExecStartPre=/bin/bash -c 'if [[ -x /usr/bin/jetson_clocks ]]; then /usr/bin/jetson_clocks; fi'
ExecStartPre=/bin/sh -c 'until ping -c1 $DEADEYE_NT_SERVER; do sleep 1; done;'
ExecStart=/opt/deadeye/bin/deadeyed
Restart=on-failure

[Install]
WantedBy=multi-user.target
