CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build/
cmake-build-*/
tags
.env
.ignore
.vaultpw
networktables.ini
networktables.ini.bak
nix/result
network_tables.ini
