-i https://pypi.org/simple/
ansible==2.9.13
bidict==0.21.2
cffi==1.14.4
click==7.1.2
cryptography==3.2
dnspython==1.16.0
eventlet==0.27.0
flask-socketio==4.3.1
flask==1.1.2
greenlet==1.0.0
itsdangerous==2.0.0a1
jinja2==3.0.0a1
markupsafe==2.0.0a1
monotonic==1.5
pycparser==2.20
pynetworktables==2020.0.4
python-engineio==4.0.0
python-socketio==5.0.4
pyyaml==5.4
six==1.15.0
werkzeug==1.0.1
