-i https://pypi.org/simple/
ansible-base==2.10.10
ansible==2.10.7
bidict==0.21.2
cffi==1.14.5
click==7.1.2
cryptography==3.4.7
dnspython==1.16.0
eventlet==0.31.0
flask-socketio==5.0.1
flask==1.1.2
greenlet==1.1.0
itsdangerous==2.0.1
jinja2==3.0.1
markupsafe==2.0.1
packaging==20.9
pycparser==2.20
pynetworktables==2021.0.0
pyparsing==3.0.0b2
python-engineio==4.2.0
python-socketio==5.3.0
pyyaml==5.4.1
six==1.16.0
werkzeug==2.0.1
