.camera-controls {
  width: 620px;
}

.camera-controls__label-layout() {
  padding-top: 6px;
}

.camera-controls__row-layout() {
  margin-bottom: 10px;
}

.hsv-range {
  .camera-controls__row-layout();

  &__label {
    .camera-controls__label-layout();
  }

  &__input {
    margin: 0 16px !important;
    width: 75px !important;
  }
}

.capture-type {
  .camera-controls__row-layout();
  &__label {
    .camera-controls__label-layout();
  }
}

.frame-dimensions {
  .camera-controls__row-layout();
  &__label {
    .camera-controls__label-layout();
  }
}

.capture-fps {
  .camera-controls__row-layout();
  &__label {
    .camera-controls__label-layout();
  }
}
