@import "antd/lib/style/themes/default";

.camera-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-family: @code-family;
    display: inline;
    font-size: x-large;
    padding-right: 2rem;

    & > span {
      @media (max-width: 770px) {
        display: none;
      }
    }
  }

  &__switch {
    padding-left: 15px;
  }

  &__label {
    padding-left: 5px;
    padding-right: 15px;
  }
}
